.nav-btn {
  background-color: black;
  border: none;
  color: white;
  width: 33.33%;
  border-radius: 0%;
  transition: 0.4s background-color color;
  transition: 0.2s font-weight;
}

.nav-btn:hover {
  background: orange !important;
  color: black;
}

.active {
  background: orange !important;
  color: black;
  font-weight: bold;
}
